* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

header,
nav,
section,
.image,
.avis,
.bas-de-page,
.offres,
.mentions,
.newsletter {
  padding: 0 20%;
}

/* navigation !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #0b2033;
  font-size: 15px;
}

nav a {
  transition: color 0.5s ease;
}

nav a:hover {
  color: #e8b917;
}

nav ul {
  display: flex;
  position: relative;
}

nav ul li {
  padding: 10px;
  color: white;
}

.campingcar:hover .ul-toggle,
.reservation:hover .ul-toggle,
.promotions:hover .ul-toggle,
.support-client:hover .ul-toggle {
  display: block;
}

.ul-toggle {
  display: none;
  background-color: white;
  position: absolute;
  border: 1px solid #e8ecf0;
  border-top: 2px solid #e8b917;
  top: 38px;
  box-shadow: 0 3px 6px #969b9f;
  font-size: 12px;
}

.ul-toggle li a {
  color: #000;
}

.ul-toggle li {
  border-bottom: 1px solid #e2effa;
}

.ul-toggle li:hover {
  background-color: #e8b917;
}

.triangle {
  border: 10px solid transparent;
  border-bottom: 10px solid #e8b917;
  position: absolute;
  top: -21px;
  left: 15px;
}

/* header !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerleft {
  display: flex;
  align-items: center;
}

.headerleft a {
  color: rgb(80, 80, 233);
}
.headerright a {
  color: rgb(80, 80, 233);
}

/* section !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
section {
  background-image: url(./img/bg.jpg);
  color: white;
  background-position: center;
}

.titre {
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-top: 15px;
}

h3 a {
  text-decoration: underline;
}

h1,
h3 {
  text-shadow: 0 0 4px white;
}

/* formulaire !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

form {
  margin-top: 15px;
  padding: 60px 150px;
  display: flex;
  flex-direction: column;
}

.form1,
.form2,
.form3,
.form4 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.date {
  width: 24%;
}

.lieu {
  width: 32%;
}

.btn-jaune {
  background-color: #e8b917;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  color: #000;
  font-weight: bold;
}

input {
  height: 40px;
}

#check1,
#check2 {
  height: initial;
}

/* logo!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.logo {
  display: flex;
  background-color: #f4f7fa;
}

.logo img {
  margin: 0 10px;
}

.image {
  display: flex;
  position: relative;
  margin: 12px;
}

.abs {
  position: absolute;
  right: 400px;
  top: -70px;
}

/* avis!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.avis {
  display: flex;
}

.etoiles {
  background-color: #e8ecf0;
  text-align: center;
  height: 150px;
  padding: 10px;
  margin: 10px;
  width: 50%;
}

.star {
  color: #e8b917;
}

.res {
  margin: 10px;
  width: 100%;
  color: white;
  display: flex;
  background-color: #0b2033;
  padding: 10px;
}

.fa-check-circle {
  color: #e8b917;
}

/* bas de page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.bas-de-page {
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: #0b2033;
}

.trois-images {
  display: flex;
  border-bottom: 3px solid #e8b917;
}
/* images 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.image1 {
  width: 33%;
  height: 200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/img1.jpg);
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(./img/img1.jpg);
}

.image1 p {
  color: white;
  border-bottom: 4px solid #e8b917;
  text-shadow: 0 0 6px #969b9f;
  font-size: 25px;
}

/* image 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.image2 {
  width: 33%;
  height: 200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/img2.jpg);
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

.image2:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(./img/img2.jpg);
}

/* image 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.image3 {
  width: 33%;
  height: 200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/img3.jpg);
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image3:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(./img/img3.jpg);
}

.image3 p {
  color: white;
  border-bottom: 4px solid #e8b917;
  text-shadow: 0 0 6px #969b9f;
  font-size: 25px;
}

/* offres !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.offres {
  display: flex;
}

.offres a:hover {
  color: #e8b917;
}

.offres h3 {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.offres-gauche {
  width: 50%;
  margin: 10px;
}

.villes-gauche,
.villes li {
  display: flex;
  justify-content: space-between;
}

.villes ul {
  width: 50%;
  margin: 10px;
}

.villes {
  color: #3089e0;
}

.mentions {
  text-align: end;
  color: #657a7f;
  font-weight: 200;
}

h6 {
  margin-bottom: 40px;
}

/* newsletter !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.newsletter {
  border-top: 1px solid #e8ecf0;
  display: flex;
  justify-content: space-between;
}

.news {
  font-weight: bold;
  padding: 10px;
}

.mail {
  width: 300px;
  border: 2px solid rgb(216, 215, 215);
  padding: 10px;
}

.btn-mail {
  background-color: #0b2033;
  padding: 11px 15px;
  border: none;
  border-radius: 5px;
  color: #e8b917;
}

/* foot !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.foot-bleu {
  background-color: #0b2033;
  color: white;
}

.foot,
footer {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.foot a:hover,
footer a:hover {
  color: #e8b917;
}

.foot h4 {
  padding-top: 15px;
}

.ul,
.copyright {
  display: flex;
  justify-content: space-between;
  color: #969b9f;
  font-size: 12px;
  padding: 20px 0;
}

.margin {
  margin-right: 100px;
}

/* footer!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.footer {
  background-color: #06131e;
  padding-bottom: 50px;
}

.copyright p {
  margin: 0 10px;
}

.reseaux {
  color: white;
  padding: 20px;
  font-size: 35px;
}

.reseaux i {
  cursor: pointer;
}
